.groups {
	list-style-type: none;
	padding: 0;
	clear: both;
}

.groups li {
	padding: 0.5em;
	float: left;
	border: 0.1em solid #e51a38;
	border-top: 2em solid #e51a38;
	border-bottom: 1em solid #e51a38;
	margin: 0.5em;
	width: 12em;
	height: 5em;
	border-radius: 0.5em;
}

.groups .logo {
	float: left;
	margin-right: 0.5em;
	width: 3em;
	height: 5em;
}

.groups li img {
	max-width: 3em;
	max-height: 3em;
}

.clb {
	clear: both;
}

h3 {
	clear: both;
}


.label-title {
	font-weight: bold;
	font-size: 20px;
}
.label-description {
	
}
.field-title {
	width: 300px;
	float: left;
}
.field-url {
	width: 300px;
	float: left;
}
.field-row {
	width: 100%;
	border-bottom: 1px dotted #AAAAAA;
	margin-bottom: 30px;
}
.field-label
{
	width: 150px;
	float: left;
}
.field-description {
	border: 1px solid #888888;
	width: 300px;
	height: 200px;
	float: left;
}
.submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.submit-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.submit-button:active {
	position:relative;
	top:1px;
}








.title { font-size: 44px; margin: 0px; }
.subtitle { font-size: 27px; margin: 0px; }

body {
    font-family: Georgia, serif;

}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    width: 85%;
    margin: 0 auto;
    margin-left: 200px;
    margin-top: 155px;
}

.area-content
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #143156;
}
.scrollable-content
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.column {
    float: left;
    width: 210px;
}

.alt {
    margin-top: -100px;
}

.little-content
{
    position: relative;
    background-color: #EEEEEE;
    min-width: 200px;
    min-height: 200px;
    margin: 5px;
    float: left;
}

.fade {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background: #222;
    color: #fff;
}

.area-social
{
    position: absolute;
    height: 45px;
    right: 50px;
    bottom: 20px;
    width: 90%;
    z-index: 999;
}
.area-social a {
    float: right;
    margin-right: 20px;
}

.top {
    height: 44px;
    width: 100%;
    background-color: aliceblue;
}

.header {
    position: absolute;
    left: 50px;
    top: 64px;
    z-index: 999;
}

.header-left {
    float: left;
    min-width: 574px;
    max-width: 1350px;
    height: 89px;
    padding: 18px;
    background: url(title.png) no-repeat;
}
.header-right {
    float: right;
    background: url(title-right.png) no-repeat;
    height: 125px;
    width: 17px;
}

.sidebar {
    position: absolute;
    height: 500px;
    left: 50px;
    top: 202px;
    width: 110px;
    z-index: 999;
    background-color: #222;
    padding: 15px;
}

.add {
    -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
    box-shadow:inset 0px 1px 0px 0px #caefab;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color:#77d42a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    color:#306108;
    font-family:arial;
    font-size:19px;
    font-weight:bold;
    padding:24px 36px;
    text-decoration:none;
    text-shadow:1px 1px 0px #aade7c;
    margin-bottom: 30px;
}.add:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
     background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
     background-color:#5cb811;
 }.add:active {
      position:relative;
      top:1px;
  }
/* This imageless css button was generated by CSSButtonGenerator.com */



.event-url {
    background-color: #fff;
    height: 50px;
    width: 110px;
    margin-bottom: 18px;
}

.sms {
    background-color: #fff;
    height: 50px;
    width: 110px;
    margin-bottom: 15px;
}

.social-content
{
    background-color: #0000FF;
    height: 45px;
    width: 200px;
    margin-left:10px;
    float: right;
    z-index: 999;
}

.facebook {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2f6ead), color-stop(1, #6392c2) );
    background:-moz-linear-gradient( center top, #2f6ead 5%, #6392c2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f6ead', endColorstr='#6392c2');
    background-color:#2f6ead;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    padding:5px 19px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}.facebook:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6392c2), color-stop(1, #2f6ead) );
     background:-moz-linear-gradient( center top, #6392c2 5%, #2f6ead 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6392c2', endColorstr='#2f6ead');
     background-color:#6392c2;
 }.facebook:active {
      position:relative;
      top:1px;
  }
/* This imageless css button was generated by CSSButtonGenerator.com */



.twitter {
    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7ea5cc), color-stop(1, #6392c2) );
    background:-moz-linear-gradient( center top, #7ea5cc 5%, #6392c2 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ea5cc', endColorstr='#6392c2');
    background-color:#7ea5cc;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#adf01d;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    padding:5px 36px;
    text-decoration:none;
    text-shadow:1px 1px 0px #528ecc;
}.twitter:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6392c2), color-stop(1, #7ea5cc) );
     background:-moz-linear-gradient( center top, #6392c2 5%, #7ea5cc 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6392c2', endColorstr='#7ea5cc');
     background-color:#6392c2;
 }.twitter:active {
      position:relative;
      top:1px;
  }
/* This imageless css button was generated by CSSButtonGenerator.com */

.linkedin {
    -moz-box-shadow:inset 0px 1px 0px 0px #cae1f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #cae1f7;
    box-shadow:inset 0px 1px 0px 0px #cae1f7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d4d4d4) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d4d4d4 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d4d4d4');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #a9cff5;
    display:inline-block;
    color:#756bff;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    padding:5px 19px;
    text-decoration:none;
    text-shadow:1px 1px 0px #85bdf5;
}.linkedin:hover {
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d4d4d4), color-stop(1, #ffffff) );
     background:-moz-linear-gradient( center top, #d4d4d4 5%, #ffffff 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#ffffff');
     background-color:#d4d4d4;
 }.linkedin:active {
      position:relative;
      top:1px;
  }
/* This imageless css button was generated by CSSButtonGenerator.com */

.events {
    list-style-type: none;
}

.events li {
    background: #143156;
    height: 100px;
    width: 160px;
    padding: 10px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #ccc;
}

.events li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}